* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    font-style: normal;


}

.container {
    background-color: blue;
    border: 2px solid black;
    width: 80em;
    height: 55em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    gap: 37px;

}

.postit {
    min-width: 200px;
    height: 180px;
    text-align: center;
    border: 2px solid black;
    background-color: white;
    box-shadow: 8px 10px 22px -3px rgba(0, 0, 0, 0.68);

}

.yellow {
    background-color: rgb(252, 246, 203);
    transform: rotate(30deg);
    transition:all 3s cubic-bezier(0.4, 0, 1, 1) ;
}
.yellow:hover {
    transform: rotate(360deg);
    background-color: rgb(255, 227, 46);
}
.rainbow {
    transform: rotate3d(1, 1, 1, 318deg);
    background-color: rgb(193, 85, 252);
    transition: all 5s linear;
}
.rainbow:hover {
    background-color: rgb(94, 249, 102);
    transform: skew(30deg);
}
.pink {
    transform: translate(0px, 40px);
    transform: skew(355deg, 24deg);
    background-color: rgb(255, 211, 218)
}
.pink animated {
    animation: animated 4s linear 0 ;
}
@keyframes animated {
    0% {

    }
    50% {
        transform:rotate(300deg);
    }
    100% {
        
    }
}